@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.country-details {
  width: 100%;
  list-style: none;
}

.country-stat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 1rem;
  cursor: pointer;
}

.country-stat-item:nth-child(even) {
  background-color: pink;
}

.country-stat-item:hover {
  background-color: pink;
}

.stat-show-amount {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.stat-show-title .title {
  font-size: 1.2rem;
  font-weight: 500;
}

.continents-list {
  display: flex;
  flex-wrap: wrap;
}

.continent-item {
  width: 50%;
  height: 250px;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  transition: all 0.3s ease-out;
}
